mode: product
replicaCount: 1
crbUser: yasin-user
image:
  repository: bitnami/nginx
  tag: "1.25.4"
  pullPolicy: IfNotPresent
webRoot:
  volumeMounts:
    - name: web-root
      mountPath: /home/yasin/data/web-root/
  volumes:
    - name: web-root
      hostPath:
        path: /home/yasin/data/web-root/
nginx:
  nodeName:
  ipv6: disable
  httpsNodePort: 30443
  httpNodePort: 30080