apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
  namespace: {{ .Release.Namespace }}
  labels:
    app: mongodb
    component: database
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
        component: database
    spec:
      {{- if .Values.mongodb.nodeName }}
      nodeName: {{ .Values.mongodb.nodeName }}
      {{- end }}
      containers:
        - name: mongodb
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          image: "{{ .Values.mongodb.image }}:{{ .Values.mongodb.tag }}"
          livenessProbe:
            exec:
              command:
                - mongo
                - --quiet
                - --eval
                - "db.adminCommand('ping')"
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            exec:
              command:
                - mongo
                - --quiet
                - --eval
                - "db.adminCommand('ping')"
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          env:
            {{- include "common.env" . }}
            - name: MONGODB_ROOT_USER
              value: {{ .Values.mongodb.rootUser }}
            - name: MONGODB_ROOT_PASSWORD
              value: {{ .Values.mongodb.rootPassword }}
          volumeMounts:
            {{- include "common.volumeMounts" . }}
{{/*            - name: data*/}}
{{/*              mountPath: /bitnami/mongodb/data/*/}}
{{/*              subPath: mongodb/data/*/}}
      volumes:
        {{- include "common.volumes" . }}