apiVersion: v1
kind: Service
metadata:
  name: mongodb-external
  namespace: {{ .Release.Namespace }}
  labels:
    app: mongodb
spec:
  selector:
    app: mongodb
  ports:
    - name: mongodb
      port: 27017
      targetPort: 27017
  {{- if eq .Values.mode "dev" }}
      nodePort: {{ .Values.mongodb.externalNodePort }}
  type: NodePort
  {{- end }}