apiVersion: v1
kind: Service
metadata:
  name: mongodb-headless
  namespace: {{ .Release.Namespace }}
  labels:
    app: mongodb
spec:
  selector:
    app: mongodb
  clusterIP: None
  ports:
    - name: mongodb
      port: 27017
      targetPort: 27017