apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: nats
  namespace: {{ .Release.Namespace }}
  labels:
    app: nats
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: nats
  template:
    metadata:
      labels:
        app: nats
    spec:
      {{- if .Values.nats.nodeName }}
      nodeName: {{ .Values.nats.nodeName }}
      {{- end }}
      containers:
        - name: nats
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: TZ
              value: Asia/Shanghai
          volumeMounts:
            - name: timezone
              mountPath: /etc/localtime
              readOnly: true
            - name: config
              mountPath: /etc/nats/nats-server.conf
              subPath: nats-server.conf
      volumes:
        - name: timezone
          hostPath:
            path: /usr/share/zoneinfo/Asia/Shanghai
        - name: config
          configMap:
            name: nats-config
            items:
              - key: nats-server.conf
                path: nats-server.conf