apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: {{ .Release.Namespace }}
  labels:
    app: redis
    component: database
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
        component: database
    spec:
      {{- if .Values.redis.nodeName }}
      nodeName: {{ .Values.redis.nodeName }}
      {{- end }}
      containers:
        - name: redis
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          image: "{{ .Values.redis.image }}:{{ .Values.redis.tag }}"
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - "redis-cli -p $REDIS_PORT_NUMBER -a $REDIS_PASSWORD PING"
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - "redis-cli -p $REDIS_PORT_NUMBER -a $REDIS_PASSWORD PING"
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          env:
            {{- include "common.env" . }}
            {{- if .Values.redis.password }}
            - name: REDIS_PASSWORD
              value: {{ .Values.redis.password }}
            {{- end }}
            - name: ALLOW_EMPTY_PASSWORD
              value: "yes"
            - name: REDIS_AOF_ENABLED
              value: "no"
            - name: REDIS_RDB_POLICY_DISABLED
              value: "no"
            - name: REDIS_RDB_POLICY
              value: "900#1 600#5 300#10 120#50 60#1000 30#10000"
          volumeMounts:
            {{- include "common.volumeMounts" . }}
{{/*            - name: data*/}}
{{/*              mountPath: /bitnami/redis/data*/}}
{{/*              subPath: redis/data*/}}
      volumes:
        {{- include "common.volumes" . }}