apiVersion: v1
kind: Service
metadata:
  name: redis-headless
  namespace: {{ .Release.Namespace }}
  labels:
    app: redis
spec:
  selector:
    app: redis
  clusterIP: None
  ports:
    - name: redis
      port: 6379
      targetPort: 6379
    - name: redis-bus
      port: 16379
      targetPort: 16379