apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: {{ .Release.Namespace }}
  labels:
    app: redis
spec:
  selector:
    app: redis
  ports:
    - name: tcp
      protocol: TCP
      port: 6379
      targetPort: 6379
  {{- if eq .Values.mode "dev" }}
      nodePort: {{ .Values.redis.nodePort }}
  type: NodePort
  {{- end }}