apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
  namespace: {{ .Release.Namespace }}
  labels:
    app: redis
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      {{- if .Values.redis.nodeName }}
      nodeName: {{ .Values.redis.nodeName }}
      {{- end }}
      terminationGracePeriodSeconds: 30
      containers:
        - name: redis
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - "redis-cli -p $REDIS_PORT_NUMBER -a $REDIS_PASSWORD PING"
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - "redis-cli -p $REDIS_PORT_NUMBER -a $REDIS_PASSWORD PING"
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          env:
            - name: TZ
              value: Asia/Shanghai
            {{- if .Values.redis.password }}
            - name: REDIS_PASSWORD
              value: {{ .Values.redis.password }}
            {{- end }}
            - name: ALLOW_EMPTY_PASSWORD
              value: "yes"
            - name: REDIS_AOF_ENABLED
              value: "no"
            - name: REDIS_RDB_POLICY_DISABLED
              value: "no"
            - name: REDIS_RDB_POLICY
              value: "900#1 600#5 300#10 120#50 60#1000 30#10000"
          volumeMounts:
            - name: timezone
              mountPath: /etc/localtime
              readOnly: true
{{/*            - name: data*/}}
{{/*              mountPath: /bitnami/redis/data/*/}}
{{/*              subPath: redis/data/*/}}
      volumes:
        - name: timezone
          hostPath:
            path: /usr/share/zoneinfo/Asia/Shanghai