apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: {{ .Release.Namespace }}
  labels:
    app: nginx
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      {{- if .Values.nginx.nodeName }}
      nodeName: {{ .Values.nginx.nodeName }}
      {{- end }}
      containers:
        - name: nginx
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: TZ
              value: Asia/Shanghai
          volumeMounts:
            - name: timezone
              mountPath: /etc/localtime
              readOnly: true
{{/*            {{- include "webRoot.volumeMounts" . }}*/}}
            - name: config
              mountPath: /opt/bitnami/nginx/conf/nginx.conf
              subPath: nginx.conf
            - name: nginx-confd
              mountPath: /opt/bitnami/nginx/conf/conf.d/
            - name: nginx-ca
              mountPath: /home/yasin/nginx/ca/
      volumes:
        - name: timezone
          hostPath:
            path: /usr/share/zoneinfo/Asia/Shanghai
{{/*        {{- include "webRoot.volumes" . }}*/}}
        - name: config
          configMap:
            name: nginx-config
            items:
              - key: nginx.conf
                path: nginx.conf
        - name: nginx-confd
          configMap:
            name: nginx-config
        - name: nginx-ca
          configMap:
            name: nginx-config
            items:
              - key: ca.crt
                path: ca.crt
              - key: client.crt
                path: client.crt
              - key: client.key
                path: client.key
              - key: server.crt
                path: server.crt
              - key: server.key
                path: server.key