apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: {{ .Release.Namespace }}
  labels:
    app: nginx
spec:
  selector:
    app: nginx
  ports:
    - name: https
      protocol: TCP
      port: 443
      targetPort: 8443
      nodePort: {{ .Values.nginx.httpsNodePort }}
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: {{ .Values.nginx.httpNodePort }}
  type: NodePort
  externalTrafficPolicy: local
  {{- if eq .Values.nginx.ipv6 "enable" }}
  ipFamilyPolicy: PreferDualStack
  ipFamilies:
    - IPv4
    - IPv6
  {{- end }}