mode: product
replicaCount: 2
image:
  repository: bitnami/mongodb
  tag: "5.0.5"
  pullPolicy: IfNotPresent
mongodb:
  nodeName:
  storageClassName: yasin-local-path
  storage: 20Gi
  externalNodePort: 32017
  arbiterEnable: true
  rootUser: root
  rootPassword: Yasin_3467
  replicaSetName: rs0
  replicaSetKey: replicaKeyYasin