mode: product
replicaCount: 1
image:
  repository: bitnami/kafka
  tag: "3.5.0"
  pullPolicy: IfNotPresent
kafka:
  nodeName:
  nodePort: 30992
  cfgAdvertisedListeners: PLAINTEXT://10.10.101.10:30992