apiVersion: apps/v1
kind: Deployment
metadata:
  name: clickhouse
  namespace: {{ .Release.Namespace }}
  labels:
    app: clickhouse
    component: database
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: clickhouse
  template:
    metadata:
      labels:
        app: clickhouse
        component: database
    spec:
      {{- if .Values.clickhouse.nodeName }}
      nodeName: {{ .Values.clickhouse.nodeName }}
      {{- end }}
      containers:
        - name: clickhouse
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          image: "{{ .Values.clickhouse.image }}:{{ .Values.clickhouse.tag }}"
          livenessProbe:
            httpGet:
              path: /ping
              port: 8123
              httpHeaders:
                - name: Authorization
                  value: "Basic $(echo -n '$CLICKHOUSE_ADMIN_USER:$CLICKHOUSE_ADMIN_PASSWORD' | base64)"
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /ping
              port: 8123
              httpHeaders:
                - name: Authorization
                  value: "Basic $(echo -n '$CLICKHOUSE_ADMIN_USER:$CLICKHOUSE_ADMIN_PASSWORD' | base64)"
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          env:
            {{- include "common.env" . }}
            - name: CLICKHOUSE_ADMIN_USER
              value: {{ .Values.clickhouse.user }}
            - name: CLICKHOUSE_ADMIN_PASSWORD
              value: {{ .Values.clickhouse.password }}
            - name: ALLOW_EMPTY_PASSWORD
              value: "yes"
          volumeMounts:
            {{- include "common.volumeMounts" . }}
            - name: config
              mountPath: /bitnami/clickhouse/etc
{{/*            - name: data*/}}
{{/*              mountPath: /bitnami/clickhouse/data/*/}}
{{/*              subPath: clickhouse/data/*/}}
      volumes:
        {{- include "common.volumes" . }}
        - name: config
          configMap:
            name: clickhouse-config
            items:
              - key: config.xml
                path: config.xml
              - key: users.xml
                path: users.xml