apiVersion: v1
kind: Service
metadata:
  name: clickhouse
  namespace: {{ .Release.Namespace }}
  labels:
    app: clickhouse
spec:
  selector:
    app: clickhouse
  ports:
    - name: http
      protocol: TCP
      port: 8123
      targetPort: 8123
    {{- if eq .Values.mode "dev" }}
      nodePort: {{ .Values.clickhouse.httpNodePort }}
    {{- end }}
    - name: tcp
      protocol: TCP
      port: 9000
      targetPort: 9000
  {{- if eq .Values.mode "dev" }}
      nodePort: {{ .Values.clickhouse.tcpNodePort }}
  type: NodePort
  {{- end }}