apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: clickhouse
  namespace: {{ .Release.Namespace }}
  labels:
    app: clickhouse
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: clickhouse
  template:
    metadata:
      labels:
        app: clickhouse
    spec:
      {{- if .Values.clickhouse.nodeName }}
      nodeName: {{ .Values.clickhouse.nodeName }}
      {{- end }}
      terminationGracePeriodSeconds: 30
      containers:
        - name: clickhouse
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          livenessProbe:
            httpGet:
              path: /ping
              port: 8123
              httpHeaders:
                - name: Authorization
                  value: "Basic $(echo -n '$CLICKHOUSE_ADMIN_USER:$CLICKHOUSE_ADMIN_PASSWORD' | base64)"
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /ping
              port: 8123
              httpHeaders:
                - name: Authorization
                  value: "Basic $(echo -n '$CLICKHOUSE_ADMIN_USER:$CLICKHOUSE_ADMIN_PASSWORD' | base64)"
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          env:
            - name: TZ
              value: Asia/Shanghai
            - name: CLICKHOUSE_ADMIN_USER
              value: {{ .Values.clickhouse.user }}
            - name: CLICKHOUSE_ADMIN_PASSWORD
              value: {{ .Values.clickhouse.password }}
            - name: ALLOW_EMPTY_PASSWORD
              value: "yes"
          volumeMounts:
            - name: timezone
              mountPath: /etc/localtime
              readOnly: true
            - name: config
              mountPath: /bitnami/clickhouse/etc
{{/*            - name: data*/}}
{{/*              mountPath: /bitnami/clickhouse/data/*/}}
{{/*              subPath: clickhouse/data/*/}}
      volumes:
        - name: timezone
          hostPath:
            path: /usr/share/zoneinfo/Asia/Shanghai
        - name: config
          configMap:
            name: clickhouse-config
            items:
              - key: config.xml
                path: config.xml
              - key: users.xml
                path: users.xml