mode: product
replicaCount: 1
image:
  repository: bitnami/clickhouse
  tag: "22.8.8"
  pullPolicy: IfNotPresent
clickhouse:
  nodeName:
  httpNodePort: 30123
  tcpNodePort: 30900
  user: default
  password: yasin3467